<!DOCTYPE html>
<html>
  <head>
    <title>RoyaleWithCheese</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash_#{name}" %>
    <% end %>
    <% unless current_page?(new_user_registration_path) || current_page?(new_user_session_path)  %>
    <%= render 'layouts/nav' %>
    <% end %>
    <%= yield %>
  </body>
</html>
